/* index.css */
/* index.css */
@import url('https://fonts.googleapis.com/css2?family=Jersey+20&family=Sigmar&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}
html{
  color-scheme: dark;
}

#NavBar {
  display: flex;
  justify-content: space-evenly;
  min-height: auto;
  padding-top: 25px;
  min-width: 0;
  color: red;
flex-wrap: wrap;
font-family: "Jersey 20";


}

#ContactImage,#PaperImage{
max-width: 20px;
}
#PaperImage{
  max-width: 30px;
  filter: invert(1);
}
#Sword {
  position: absolute;
  left: 50%;
  top: -30%;
  transform: translate(-50%, -50%); /* Centers the sword */
  width: 90px; /* Adjust this to resize the sword */
  height: auto;
}

#MyExperienceBar {
  display: inline-block;
  position: relative;
  text-align: center;
}

.HomePageText{
  font-family: "Jersey 20";
  font-size: 50px;
  padding-left: 10px;
}

#Information{
  padding-top: 20px;
  max-width:  890px;
}
.ProjectContainer{
  display: grid;
  grid-auto-columns:min-content(20px)
}